/*color set labels*/
color_change_coral {color: coral}
color_change_darkcyan {color: darkcyan}
color_change_switch {color: white; background: black}
color_change_blueviolet {color: blueviolet}
color_change_cornflowerblue {color: cornflowerblue}
color_change_darkslategrey {color: darkslategrey}
color_change_darkred {color: darkred}
color_change_darkslateblue {color: darkslateblue}
color_change_dodgerblue {color: dodgerblue}
color_change_chocolate {color: chocolate}
color_change_goldenred {color: goldenrod}
color_change_forestgreen {color: forestgreen}
color_change_aqua {color: aqua}
color_change_crimson {color: crimson}
color_change_deeppink {color: deeppink}
color_change_indianred {color: indianred}
color_change_reserved {}

.bold {font-weight: bolder;}
.italic {font-style: italic;}

/* table, th, td {border: 1px solid black} */
table {border: 1px solid black; border-collapse: collapse}
th {border: 1px solid black;}
td {border: 1px solid black;}
table th {background-color: #888888}
/* which is equal to table.th */

div {text-indent: 32px; line-height: 32px}
